In [108]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LassoCV
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import RobustScaler
from keras import backend as K
from keras.models import Sequential
from keras.layers import Dense, InputLayer, Dropout
from keras.wrappers.scikit_learn import KerasClassifier
import re

In [70]:
train = pd.read_csv('./datasets/titanic/train.csv')
test = pd.read_csv('./datasets/titanic/test.csv')
num_train = len(train)

In [71]:
df_all = pd.concat([train, test], sort=False)

In [72]:
df_all.head()

   PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0            1       0.0       3                            Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500   NaN        S
1            2       1.0       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1      0          PC 17599  71.2833   C85        C
2            3       1.0       3                             Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3            4       1.0       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000  C123        S
4            5       0.0       3                           Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500   NaN        S

In [73]:
df_all['Embarked'] = df_all['Embarked'].fillna('S')

In [74]:
df_all = df_all.drop(columns=['Ticket', 'Cabin'])

Sex

In [75]:
df_all['Sex'] = df_all['Sex'].map({'female': 0, 'male': 1}).astype(int)

age proccesing

In [76]:
for i in range(0, 2):
    for j in range(0, 3):
        df_all.loc[(df_all['Age'].isna()) & (df_all['Sex'] == i) & (df_all['Pclass'] == j + 1), 'Age'] = df_all[(df_all['Sex'] == i) & (df_all['Pclass'] == j + 1)]['Age'].dropna().median()

In [77]:
df_all.loc[ df_all['Age'] <= 16, 'Age'] = 0
df_all.loc[(df_all['Age'] > 16) & (df_all['Age'] <= 32), 'Age'] = 1
df_all.loc[(df_all['Age'] > 32) & (df_all['Age'] <= 48), 'Age'] = 2
df_all.loc[(df_all['Age'] > 48) & (df_all['Age'] <= 64), 'Age'] = 3
df_all.loc[ df_all['Age'] > 64, 'Age'] = 4

fare processing

In [80]:
df_all.loc[ df_all['Fare'] <= 7.91, 'Fare'] = 0
df_all.loc[(df_all['Fare'] > 7.91) & (df_all['Fare'] <= 14.454), 'Fare'] = 1
df_all.loc[(df_all['Fare'] > 14.454) & (df_all['Fare'] <= 31), 'Fare']  = 2
df_all.loc[ df_all['Fare'] > 31, 'Fare'] = 3

In [81]:
df_all['Fare'].fillna(df_all['Fare'].dropna().median(), inplace=True)

Is alone processing

In [82]:
df_all['IsAlone'] = 0
df_all.loc[df_all['SibSp'] + df_all['Parch'] == 0, 'IsAlone'] = 1

In [83]:
df_all = df_all.drop(columns=['SibSp', 'Parch'])

Title

In [84]:
def get_title(name):
    title_search = re.search(' ([A-Za-z]+)\.', name)
    if title_search:
        return title_search.group(1)
    return ""

In [85]:
df_all['Name'] = df_all['Name'].apply(get_title)
df_all['Name'] = df_all['Name'].replace(['Lady', 'Countess','Capt', 'Col',\
'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

df_all['Name'] = df_all['Name'].replace('Mlle', 'Miss')
df_all['Name'] = df_all['Name'].replace('Ms', 'Miss')
df_all['Name'] = df_all['Name'].replace('Mme', 'Mrs')

In [86]:
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
df_all['Name'] = df_all['Name'].map(title_mapping)
df_all['Name'] = df_all['Name'].fillna(0)

Embarked

In [87]:
df_all['Embarked'] = df_all['Embarked'].map({'S': 0, 'C': 1, 'Q': 2}).astype(int)

Age*class

In [88]:
df_all['Age*class'] = df_all['Age'] * df_all['Pclass']

In [89]:
df_all.head()

   PassengerId  Survived  Pclass  Name  Sex  Age  Fare  Embarked  IsAlone  Age*class
0            1       0.0       3     1    1  1.0   0.0         0        0        3.0
1            2       1.0       1     3    0  2.0   3.0         1        0        2.0
2            3       1.0       3     2    0  1.0   1.0         0        1        3.0
3            4       1.0       1     3    0  2.0   3.0         0        0        2.0
4            5       0.0       3     1    1  2.0   1.0         0        1        6.0

Split df on test and train set's

In [90]:
X_train = df_all.iloc[:num_train].drop(columns=['Survived', 'PassengerId'])
y_train = df_all.iloc[:num_train]['Survived']

In [91]:
y_train = pd.get_dummies(y_train)

In [92]:
y_train.head()

   0.0  1.0
0    1    0
1    0    1
2    0    1
3    0    1
4    1    0

In [93]:
X_test = df_all.iloc[num_train:].drop(columns=['Survived'])

In [94]:
y_train.head()

   0.0  1.0
0    1    0
1    0    1
2    0    1
3    0    1
4    1    0

In [95]:
ID = X_test['PassengerId']
X_test = X_test.drop(columns=['PassengerId'])

In [96]:
X_test.head()

   Pclass  Name  Sex  Age  Fare  Embarked  IsAlone  Age*class
0       3     1    1  2.0   0.0         2        1        6.0
1       3     3    0  2.0   0.0         0        0        6.0
2       2     1    1  3.0   1.0         2        1        6.0
3       3     1    1  1.0   1.0         0        1        3.0
4       3     3    0  1.0   1.0         0        0        3.0

# training

In [114]:
def create_model(layers=1, neurons=20, dropout=0.2, activation='relu'):
    model = Sequential()
    model.add(InputLayer(input_shape=(X_train.shape[1],)))
    
    for _ in range(layers):
        model.add(Dense(neurons, activation=activation))
        model.add(Dropout(dropout))
    
    model.add(Dense(2, activation='softmax'))
    model.compile(loss='categorical_crossentropy', optimizer='nadam', metrics=['accuracy'])
    return model

In [129]:
model = KerasClassifier(build_fn=create_model, verbose=0)

In [136]:
gsc = GridSearchCV(
    estimator=model,
    param_grid={
        'neurons':[8, 16, 32, 64, 128],
        'layers': range(1, 4),
        'epochs': [40, 60, 100, 150],
        #'dropout': [0, 0.2],
        #'activation': ['tanh', 'relu']
    },
    #scoring='accuracy',
    cv=3
)

In [ ]:
grid_result = gsc.fit(X_train, y_train, verbose=2)

In [ ]:
"Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_)

In [ ]:
for test_mean, test_stdev, train_mean, train_stdev, param in zip(
        grid_result.cv_results_['mean_test_score'],
        grid_result.cv_results_['std_test_score'],
        grid_result.cv_results_['mean_train_score'],
        grid_result.cv_results_['std_train_score'],
        grid_result.cv_results_['params']):
    print("Train: %f (%f) // Test : %f (%f) with: %r" % (train_mean, train_stdev, test_mean, test_stdev, param))

In [140]:
model = create_model(3, 64)
model.fit(X_train, y_train, validation_split=0.2, epochs=100, verbose=1)

Train on 712 samples, validate on 179 samples
Epoch 1/100
712/712 [==============================] - 33s 47ms/step - loss: 0.6323 - acc: 0.6545 - val_loss: 0.4675 - val_acc: 0.8380
Epoch 2/100
712/712 [==============================] - 1s 819us/step - loss: 0.5464 - acc: 0.7303 - val_loss: 0.4317 - val_acc: 0.8156
Epoch 3/100
712/712 [==============================] - 1s 844us/step - loss: 0.5434 - acc: 0.7669 - val_loss: 0.4816 - val_acc: 0.7877
Epoch 4/100
712/712 [==============================] - 1s 879us/step - loss: 0.5164 - acc: 0.7598 - val_loss: 0.4459 - val_acc: 0.7989
Epoch 5/100
712/712 [==============================] - 1s 867us/step - loss: 0.5034 - acc: 0.7725 - val_loss: 0.4435 - val_acc: 0.7933
Epoch 6/100
712/712 [==============================] - 1s 820us/step - loss: 0.5057 - acc: 0.7823 - val_loss: 0.4283 - val_acc: 0.8156
Epoch 7/100
712/712 [==============================] - 1s 848us/step - loss: 0.4932 - acc: 0.7851 - val_loss: 0.4002 - val_acc: 0.8380
Epoch 8/100
712/712 [==============================] - 1s 826us/step - loss: 0.4895 - acc: 0.7978 - val_loss: 0.4159 - val_acc: 0.8268
Epoch 9/100
712/712 [==============================] - 1s 836us/step - loss: 0.4805 - acc: 0.7767 - val_loss: 0.3860 - val_acc: 0.8380
Epoch 10/100
712/712 [==============================] - 1s 822us/step - loss: 0.4586 - acc: 0.8160 - val_loss: 0.4105 - val_acc: 0.8212
Epoch 11/100
712/712 [==============================] - 1s 827us/step - loss: 0.4655 - acc: 0.7907 - val_loss: 0.4313 - val_acc: 0.7933
Epoch 12/100
712/712 [==============================] - 1s 842us/step - loss: 0.4708 - acc: 0.7978 - val_loss: 0.4047 - val_acc: 0.8212
Epoch 13/100
712/712 [==============================] - 1s 842us/step - loss: 0.4724 - acc: 0.7837 - val_loss: 0.3795 - val_acc: 0.8492
Epoch 14/100
712/712 [==============================] - 1s 840us/step - loss: 0.4664 - acc: 0.7795 - val_loss: 0.3805 - val_acc: 0.8380
Epoch 15/100
712/712 [==============================] - 1s 902us/step - loss: 0.4516 - acc: 0.7949 - val_loss: 0.4148 - val_acc: 0.8268
Epoch 16/100
712/712 [==============================] - 1s 935us/step - loss: 0.4612 - acc: 0.8090 - val_loss: 0.3896 - val_acc: 0.8380
Epoch 17/100
712/712 [==============================] - 1s 839us/step - loss: 0.4540 - acc: 0.8034 - val_loss: 0.4220 - val_acc: 0.8268
Epoch 18/100
712/712 [==============================] - 1s 898us/step - loss: 0.4533 - acc: 0.8062 - val_loss: 0.4268 - val_acc: 0.8324
Epoch 19/100
712/712 [==============================] - 1s 857us/step - loss: 0.4591 - acc: 0.7992 - val_loss: 0.3649 - val_acc: 0.8492
Epoch 20/100
712/712 [==============================] - 1s 842us/step - loss: 0.4538 - acc: 0.7963 - val_loss: 0.3932 - val_acc: 0.8324
Epoch 21/100
712/712 [==============================] - 1s 908us/step - loss: 0.4426 - acc: 0.8118 - val_loss: 0.3576 - val_acc: 0.8436
Epoch 22/100
712/712 [==============================] - 1s 890us/step - loss: 0.4550 - acc: 0.8020 - val_loss: 0.4148 - val_acc: 0.8268
Epoch 23/100
712/712 [==============================] - 1s 829us/step - loss: 0.4469 - acc: 0.8034 - val_loss: 0.3659 - val_acc: 0.8547
Epoch 24/100
712/712 [==============================] - 1s 827us/step - loss: 0.4397 - acc: 0.8048 - val_loss: 0.4004 - val_acc: 0.8380
Epoch 25/100
712/712 [==============================] - 1s 831us/step - loss: 0.4402 - acc: 0.8090 - val_loss: 0.3686 - val_acc: 0.8492
Epoch 26/100
712/712 [==============================] - 1s 908us/step - loss: 0.4363 - acc: 0.7992 - val_loss: 0.3605 - val_acc: 0.8436
Epoch 27/100
712/712 [==============================] - 1s 822us/step - loss: 0.4433 - acc: 0.7978 - val_loss: 0.3726 - val_acc: 0.8547
Epoch 28/100
712/712 [==============================] - 1s 843us/step - loss: 0.4333 - acc: 0.8174 - val_loss: 0.3647 - val_acc: 0.8436
Epoch 29/100
712/712 [==============================] - 1s 891us/step - loss: 0.4231 - acc: 0.8118 - val_loss: 0.3900 - val_acc: 0.8324
Epoch 30/100
712/712 [==============================] - 1s 827us/step - loss: 0.4372 - acc: 0.8160 - val_loss: 0.3628 - val_acc: 0.8436
Epoch 31/100
712/712 [==============================] - 1s 888us/step - loss: 0.4331 - acc: 0.8188 - val_loss: 0.3813 - val_acc: 0.8380
Epoch 32/100
712/712 [==============================] - 1s 824us/step - loss: 0.4304 - acc: 0.8160 - val_loss: 0.3658 - val_acc: 0.8547
Epoch 33/100
712/712 [==============================] - 1s 917us/step - loss: 0.4300 - acc: 0.8132 - val_loss: 0.3674 - val_acc: 0.8436
Epoch 34/100
712/712 [==============================] - 1s 818us/step - loss: 0.4331 - acc: 0.8090 - val_loss: 0.3603 - val_acc: 0.8436
Epoch 35/100
712/712 [==============================] - 1s 919us/step - loss: 0.4180 - acc: 0.8244 - val_loss: 0.4027 - val_acc: 0.8492
Epoch 36/100
712/712 [==============================] - 1s 875us/step - loss: 0.4209 - acc: 0.8160 - val_loss: 0.3801 - val_acc: 0.8380
Epoch 37/100
712/712 [==============================] - 1s 875us/step - loss: 0.4286 - acc: 0.8146 - val_loss: 0.3575 - val_acc: 0.8547
Epoch 38/100
712/712 [==============================] - 1s 989us/step - loss: 0.4188 - acc: 0.8132 - val_loss: 0.3866 - val_acc: 0.8380
Epoch 39/100
712/712 [==============================] - 1s 886us/step - loss: 0.4227 - acc: 0.8202 - val_loss: 0.3671 - val_acc: 0.8436
Epoch 40/100
712/712 [==============================] - 1s 940us/step - loss: 0.4251 - acc: 0.8118 - val_loss: 0.3714 - val_acc: 0.8436
Epoch 41/100
712/712 [==============================] - 1s 897us/step - loss: 0.4136 - acc: 0.8315 - val_loss: 0.3867 - val_acc: 0.8659
Epoch 42/100
712/712 [==============================] - 1s 886us/step - loss: 0.4248 - acc: 0.8287 - val_loss: 0.3650 - val_acc: 0.8492
Epoch 43/100
712/712 [==============================] - 1s 892us/step - loss: 0.4263 - acc: 0.8146 - val_loss: 0.3849 - val_acc: 0.8492
Epoch 44/100
712/712 [==============================] - 1s 925us/step - loss: 0.4203 - acc: 0.8188 - val_loss: 0.3914 - val_acc: 0.8436
Epoch 45/100
712/712 [==============================] - 1s 880us/step - loss: 0.4127 - acc: 0.8202 - val_loss: 0.3897 - val_acc: 0.8492
Epoch 46/100
712/712 [==============================] - 1s 911us/step - loss: 0.4149 - acc: 0.8230 - val_loss: 0.3723 - val_acc: 0.8715
Epoch 47/100
712/712 [==============================] - 1s 910us/step - loss: 0.4140 - acc: 0.8146 - val_loss: 0.3946 - val_acc: 0.8715
Epoch 48/100
712/712 [==============================] - 1s 871us/step - loss: 0.4049 - acc: 0.8385 - val_loss: 0.3823 - val_acc: 0.8659
Epoch 49/100
712/712 [==============================] - 1s 916us/step - loss: 0.4225 - acc: 0.8258 - val_loss: 0.3556 - val_acc: 0.8603
Epoch 50/100
712/712 [==============================] - 1s 930us/step - loss: 0.4171 - acc: 0.8371 - val_loss: 0.3739 - val_acc: 0.8547
Epoch 51/100
712/712 [==============================] - 1s 888us/step - loss: 0.4283 - acc: 0.8090 - val_loss: 0.3707 - val_acc: 0.8603
Epoch 52/100
712/712 [==============================] - 1s 885us/step - loss: 0.4142 - acc: 0.8216 - val_loss: 0.3924 - val_acc: 0.8659
Epoch 53/100
712/712 [==============================] - 1s 908us/step - loss: 0.4099 - acc: 0.8132 - val_loss: 0.4004 - val_acc: 0.8492
Epoch 54/100
712/712 [==============================] - 1s 875us/step - loss: 0.4272 - acc: 0.8202 - val_loss: 0.3674 - val_acc: 0.8603
Epoch 55/100
712/712 [==============================] - 1s 889us/step - loss: 0.4131 - acc: 0.8104 - val_loss: 0.3831 - val_acc: 0.8492
Epoch 56/100
712/712 [==============================] - 1s 931us/step - loss: 0.4085 - acc: 0.8371 - val_loss: 0.3924 - val_acc: 0.8547
Epoch 57/100
712/712 [==============================] - 1s 876us/step - loss: 0.3965 - acc: 0.8174 - val_loss: 0.3726 - val_acc: 0.8603
Epoch 58/100
712/712 [==============================] - 1s 908us/step - loss: 0.4222 - acc: 0.8202 - val_loss: 0.3815 - val_acc: 0.8547
Epoch 59/100
712/712 [==============================] - 1s 875us/step - loss: 0.3999 - acc: 0.8343 - val_loss: 0.3622 - val_acc: 0.8603
Epoch 60/100
712/712 [==============================] - 1s 955us/step - loss: 0.4212 - acc: 0.8188 - val_loss: 0.4078 - val_acc: 0.8324

Epoch 61/100
712/712 [==============================] - 1s 899us/step - loss: 0.4118 - acc: 0.8132 - val_loss: 0.3718 - val_acc: 0.8436
Epoch 62/100
712/712 [==============================] - 1s 918us/step - loss: 0.4118 - acc: 0.8287 - val_loss: 0.3642 - val_acc: 0.8492
Epoch 63/100
712/712 [==============================] - 1s 938us/step - loss: 0.4120 - acc: 0.8160 - val_loss: 0.3838 - val_acc: 0.8715
Epoch 64/100
712/712 [==============================] - 1s 887us/step - loss: 0.4048 - acc: 0.8287 - val_loss: 0.3866 - val_acc: 0.8603
Epoch 65/100
712/712 [==============================] - 1s 877us/step - loss: 0.4034 - acc: 0.8301 - val_loss: 0.3713 - val_acc: 0.8492
Epoch 66/100
712/712 [==============================] - 1s 912us/step - loss: 0.4039 - acc: 0.8258 - val_loss: 0.3721 - val_acc: 0.8492
Epoch 67/100
712/712 [==============================] - 1s 888us/step - loss: 0.3992 - acc: 0.8160 - val_loss: 0.3929 - val_acc: 0.8492
Epoch 68/100
712/712 [==============================] - 1s 879us/step - loss: 0.4061 - acc: 0.8216 - val_loss: 0.3841 - val_acc: 0.8492
Epoch 69/100
712/712 [==============================] - 1s 918us/step - loss: 0.4064 - acc: 0.8230 - val_loss: 0.3790 - val_acc: 0.8492
Epoch 70/100
712/712 [==============================] - 1s 933us/step - loss: 0.3951 - acc: 0.8216 - val_loss: 0.3853 - val_acc: 0.8547
Epoch 71/100
712/712 [==============================] - 1s 906us/step - loss: 0.3996 - acc: 0.8258 - val_loss: 0.3811 - val_acc: 0.8436
Epoch 72/100
712/712 [==============================] - 1s 914us/step - loss: 0.3897 - acc: 0.8371 - val_loss: 0.3814 - val_acc: 0.8659
Epoch 73/100
712/712 [==============================] - 1s 968us/step - loss: 0.3952 - acc: 0.8315 - val_loss: 0.4079 - val_acc: 0.8603
Epoch 74/100
712/712 [==============================] - 1s 901us/step - loss: 0.4025 - acc: 0.8230 - val_loss: 0.3884 - val_acc: 0.8436
Epoch 75/100
712/712 [==============================] - 1s 893us/step - loss: 0.3940 - acc: 0.8371 - val_loss: 0.3857 - val_acc: 0.8603
Epoch 76/100
712/712 [==============================] - 1s 895us/step - loss: 0.3917 - acc: 0.8315 - val_loss: 0.3809 - val_acc: 0.8380
Epoch 77/100
712/712 [==============================] - 1s 884us/step - loss: 0.3924 - acc: 0.8357 - val_loss: 0.4030 - val_acc: 0.8603
Epoch 78/100
712/712 [==============================] - 1s 908us/step - loss: 0.4100 - acc: 0.8287 - val_loss: 0.3818 - val_acc: 0.8547
Epoch 79/100
712/712 [==============================] - 1s 890us/step - loss: 0.4017 - acc: 0.8258 - val_loss: 0.3579 - val_acc: 0.8492
Epoch 80/100
712/712 [==============================] - 1s 834us/step - loss: 0.3973 - acc: 0.8258 - val_loss: 0.3742 - val_acc: 0.8492
Epoch 81/100
712/712 [==============================] - 1s 925us/step - loss: 0.3996 - acc: 0.8371 - val_loss: 0.3831 - val_acc: 0.8603
Epoch 82/100
712/712 [==============================] - 1s 880us/step - loss: 0.4021 - acc: 0.8343 - val_loss: 0.3786 - val_acc: 0.8603
Epoch 83/100
712/712 [==============================] - 1s 930us/step - loss: 0.3790 - acc: 0.8343 - val_loss: 0.3711 - val_acc: 0.8492
Epoch 84/100
712/712 [==============================] - 1s 889us/step - loss: 0.3949 - acc: 0.8287 - val_loss: 0.3880 - val_acc: 0.8659
Epoch 85/100
712/712 [==============================] - 1s 906us/step - loss: 0.3862 - acc: 0.8315 - val_loss: 0.3861 - val_acc: 0.8659
Epoch 86/100
712/712 [==============================] - 1s 878us/step - loss: 0.3854 - acc: 0.8301 - val_loss: 0.3958 - val_acc: 0.8547
Epoch 87/100
712/712 [==============================] - 1s 891us/step - loss: 0.3835 - acc: 0.8399 - val_loss: 0.3909 - val_acc: 0.8492
Epoch 88/100
712/712 [==============================] - 1s 895us/step - loss: 0.3962 - acc: 0.8202 - val_loss: 0.3833 - val_acc: 0.8492
Epoch 89/100
712/712 [==============================] - 1s 887us/step - loss: 0.3782 - acc: 0.8343 - val_loss: 0.3810 - val_acc: 0.8715
Epoch 90/100
712/712 [==============================] - 1s 886us/step - loss: 0.3966 - acc: 0.8343 - val_loss: 0.3874 - val_acc: 0.8547
Epoch 91/100
712/712 [==============================] - 1s 973us/step - loss: 0.3738 - acc: 0.8427 - val_loss: 0.4127 - val_acc: 0.8715
Epoch 92/100
712/712 [==============================] - 1s 933us/step - loss: 0.3984 - acc: 0.8272 - val_loss: 0.3960 - val_acc: 0.8603
Epoch 93/100
712/712 [==============================] - 1s 1ms/step - loss: 0.3899 - acc: 0.8329 - val_loss: 0.3876 - val_acc: 0.8603
Epoch 94/100
712/712 [==============================] - 1s 925us/step - loss: 0.3786 - acc: 0.8216 - val_loss: 0.3993 - val_acc: 0.8547
Epoch 95/100
712/712 [==============================] - 1s 888us/step - loss: 0.3843 - acc: 0.8258 - val_loss: 0.4073 - val_acc: 0.8659
Epoch 96/100
712/712 [==============================] - 1s 911us/step - loss: 0.3802 - acc: 0.8301 - val_loss: 0.3978 - val_acc: 0.8547
Epoch 97/100
712/712 [==============================] - 1s 901us/step - loss: 0.3916 - acc: 0.8399 - val_loss: 0.3931 - val_acc: 0.8436
Epoch 98/100
712/712 [==============================] - 1s 959us/step - loss: 0.3840 - acc: 0.8287 - val_loss: 0.3909 - val_acc: 0.8603
Epoch 99/100
712/712 [==============================] - 1s 964us/step - loss: 0.3903 - acc: 0.8287 - val_loss: 0.3774 - val_acc: 0.8547
Epoch 100/100
712/712 [==============================] - 1s 974us/step - loss: 0.3863 - acc: 0.8272 - val_loss: 0.3893 - val_acc: 0.8603

In [141]:
y_test = model.predict_classes(X_test)

In [142]:
df_subm = pd.DataFrame({'PassengerId': ID, 'Survived': y_test})
df_subm.to_csv('titanic_subm.csv', index=False)